/*------------------------GLOBAL---------------*/
/*------------------------GLOBAL---------------*/
html, body {
    font-family: Lato, sans-serif;
    color: #424551;
    line-height: 160%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}

.burger {
    display: none;
}

.main__about {
    padding: 180px 0 160px;
}

.main__directions {
    padding-bottom: 180px;
}

.main__cert {
    margin-bottom: -46px;
}

.main__team {
    padding: 160px 0px 180px;
}

.main_testimonials {
    padding-bottom: 195px;
}

.main__companies {
    padding-bottom: 177px;
}

.main__program {
    padding: 115px 0 118px;
}

.main__blog {
    padding-bottom: 200px;
}

.main__info {
    padding-bottom: 180px;
}

.main__questions {
    padding-bottom: 180px;
}

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    white-space: nowrap;
}

.button:hover {
    transform: scale(1.05);
    transition: all .3s;
}

.button--empty {
    background-image: none;
    border-left: 2px solid #FF3F3A;
    border-right: 2px solid #F75E05;
    background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
    background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button--empty span {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading {
    color: #1E212C;
}

.heading__subtitle {
    line-height: 150%;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.heading__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.heading--text-center {
    text-align: center;
}

/*------------------------HEADER1---------------*/
/*------------------------HEADER1---------------*/

.header {
    font-weight: 700;
    background: url(../images/decor/shapes-bg.svg) 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 36, 58, .2) 0%, rgba(247, 94, 5, .2));
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0px;
}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #FF3F3A;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(../images/icons/user-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    transition: all .3s;
}

.header__user-btn:hover {
    color: #FF3F3A;
}

/*------------------------HEADER2---------------*/
/*------------------------HEADER2---------------*/

.header__body {
    flex: 1 1 auto;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin: auto 0;
}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play svg {
    margin-right: 16px;
    transition: all 0.3s;
    border-radius: 50%;
}

.header__play:hover svg {
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__content-buttons {
    display: flex;
}

.header__content-btn {
    margin-right: 24px;
}

.header__content-btn:last-child {
    margin-right: 0px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin-bottom: 80px;
}

.header__row>span {
    background: #FF3F3A;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 15px;
}

.header__row-item {
    display: flex;
    align-items: center;
}

.header__row-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-right: 12px;
}

/*-------------------------ABOUT1---------------*/
/*-------------------------ABOUT1---------------*/

.about {}

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
    position: relative;
}

.about__createx::before {
    content: "";
    position: absolute;
    top: -80px;
    right: -140px;
    background-image: url("../images/decor/1.svg");
    width: 100px;
    height: 85px;
}

.about__createx-content {
    max-width: 600px;
    margin-right: 30px;
}

.about__heading {
    margin-bottom: 48px;
}

.about__text {
    margin-bottom: 60px;
}

.about__paragraph {
    margin-bottom: 24px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.about__paragraph--accent {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}

.about__btn-box {
    display: flex;
}

.about__btn {
    margin-right: 24px;
}

.about__btn:last-child {
    margin-right: 0;
}

.about__values {
    display: flex;
    justify-content: space-between;
}

/*-----------------------ABOUT2---------------*/
/*-----------------------ABOUT2---------------*/

.about__image-box {
    border-radius: 4px;
    overflow: hidden;
}

.about__image-box img {
    width: 100%;
    height: 100%;
    border-left: cover;
}

.about__numbers {
    margin-left: 30px;
    align-self: center;
    white-space: nowrap;
}

.about__number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about__number:last-child {
    margin-bottom: 0;
}

.about__number span {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
    margin-right: 16px;
}

/*---------------------DIRECTIONS---------------*/
/*---------------------DIRECTIONS---------------*/

.directions {}

.directions__inner {
    position: relative;
}

.directions__inner::before {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: -190px;
    width: 136px;
    height: 115px;
    background: url("../images/decor/2.svg") 0 0 no-repeat;
}

.directions__inner::after {
    content: "";
    display: block;
    position: absolute;
    top: 400px;
    right: -400px;
    width: 243px;
    height: 243px;
    background: url("../images/decor/3.svg") 0 0 no-repeat;
}

.directions__heading {
    margin-bottom: 90px;
}

.directions__body {}

.directions__filter-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.directions__filter-item {
    margin-right: 45px;
    margin-bottom: 15px;
}

.directions__filter-item:last-child {
    margin-right: 0;
}

.directions__filter-btn {
    background-color: transparent;
    color: #9A9CA5;
    border: 1px solid #9A9CA5;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    padding: 5px 7px;
    white-space: nowrap;
}

.directions__filter-btn--active {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: none;
    color: #fff;
    padding: 6px 8px;
}

.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
}

.directions__list-item {}

.directions__list-link {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    transition: all 1s;
}

.directions__list-link:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: all .3s;
}

.directions__list-link:hover .directions__link-btn {
    color: #FF3F3A;
    transition: all .3s;
}

.directions__image-box img {
    width: 100%;
    height: 100%;
}

.directions__link-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid #E5E8ED;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.directions__link-tag {
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background-color: #999;
    padding: 6px 8px;
    border-radius: 4px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.directions__link-text {
    color: #787A80;
    margin-bottom: 20px;
}

.directions__link-btn {
    color: #1E212C;
    display: flex;
    font-weight: 700;
    transition: all .3s;
}

.directions__link-btn::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/icons/arrow-right.svg) 0 2px / 100% no-repeat;
    margin-left: 11px;
}

.directions__list-item--empty {
    background: #F4F5F7;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.directions__list-item--empty span {
    max-width: 240px;
}

.directions__list-item--marketing .directions__link-tag {
    background-color: #03CEA4;
}

.directions__list-item--management .directions__link-tag {
    background-color: #5A87FC;
}

.directions__list-item--hr .directions__link-tag {
    background-color: #F89828;
}

.directions__list-item--design .directions__link-tag {
    background-color: #F52F6E;
}

.directions__list-item--development .directions__link-tag {
    background-color: #7772F1;
}

/*---------------------------CERT---------------*/
/*---------------------------CERT---------------*/

.cert {}

.cert__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cert__inner::before {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    left: -190px;
    width: 60px;
    height: 60px;
    background: url("../images/decor/4.svg") 0 0 no-repeat;
}

.cert__content {
    margin-right: 30px;
    min-width: 400px;
}

.container {}

.cert__heading {
    margin-bottom: 50px;
}

.cert__text {
    margin-bottom: 30px;
}

.cert__logos {
    display: flex;
}

.cert__logos-item {
    margin-right: 40px;
}

.cert__logos-item:last-child {
    margin-right: 0;
}

.cert__image-box {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.cert__image-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*---------------------------TEAM---------------*/
/*---------------------------TEAM---------------*/


.team {
    background: url(../images/decor/team-background.svg) calc(50% + 140px) calc(50% - 120px) no-repeat #F4F5F7;
}

.team__inner {}

.team__heading {
    margin-bottom: 60px;
    position: relative;
}

.team__slider .slick-list {
    margin: 0 -15px;
}

.team__slide {
    padding: 0 15px;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
}

.team__image-box {
    border-radius: 4px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
}

.team__image {
    position: relative;
    height: 340px;
}

.team__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.team__socials {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    transform: translateY(50%);
    transition: all .3s;
}

.team__socials-item {
    margin-right: 12px;
}

.team__socials-item:last-child {
    margin-right: 0;
}

.team__socials-link {
    display: block;
    line-height: 0;
}

.team__socials-link path {
    transition: all .3s;
}

.team__socials-link:hover path {
    fill: #fff;
}

.team__info {
    text-align: center;
}

.team__info-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 5px;
}

.team__info-position {
    color: #787A80
}

.team__slider-arrows {
    position: absolute;
    right: 0;
    bottom: 0;
}

.team__slider-arrows {
    display: flex;
}

.team__slider-arrow {
    border-radius: 50%;
    display: block;
    line-height: 0;
    position: relative;
    z-index: 5;
}

.team__slider-arrow path {
    transition: all .3s;
}

.team__slider-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background-color: #FF3F3A;
    border-radius: 50%;
    z-index: -1;
    transition: all .3s;
}

.team__slider-arrow:hover path {
    fill: #fff;
}

.team__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.team__slider-prev {
    margin-right: 24px;

}

.team__slider-next {}

/*---------------------------TESTIMONIALS-------*/
/*--------------------------TESTIMONIALS--------*/



.testimonials {
    background: #F4F5F7;
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-44.9%, -55.4%);
    background: url("../images/decor/testi-bg.svg") 0 0 / 100% no-repeat;
    width: 1971px;
    height: 816px;
}

.container {}

.testimonials__inner {
    position: relative;
    z-index: 1;
}

.testimonials__heading {
    margin-bottom: 60px;
}

.heading {}

.heading__subtitle {}

.heading__title {}

.testimonials__slider-wrapper {
    padding: 0 50px;
    position: relative;
    margin-bottom: 50px;
}

.testimonials__slider {
    max-width: 1020px;
    margin: 0 auto;
}

.testimonials__slide {
    padding: 64px;
    background-color: #fff;
    border-radius: 4px;
}

.testimonials__slide-inner {
    max-width: 810px;
    margin: 0 auto;
    padding-left: 58px;
}

.testimonials__quote {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
    position: relative;
}

.testimonials__quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: -58px;
    background: url("../images/icons/quote-icon.svg") 0 0 / 100% no-repeat;
    width: 28px;
    height: 20px;
}

.testimonials__user {
    display: flex;
    align-items: center;
}

.testimonials__avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.testimonials__info {}

.testimonials__info-name {
    color: #1E212C;
    font-weight: 700;
    margin-bottom: 4px;
}

.testimonials__info_position {
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.testimonials__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    display: flex;
    align-items: center;
    z-index: 5;
}

.testimonials__arrow path {
    transition: all .3s;
}

.testimonials__arrow::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    background-color: #FF3F3A;
    border-radius: 50%;
    z-index: -1;
    transition: all .3s;
}

.testimonials__prev {
    left: 0;
}

.testimonials__prev::before {
    transform: translate(-50%, -50%) scale(0);
    left: 22%;
}

.testimonials__next {
    right: 0;
    justify-content: flex-end;
}

.testimonials__next::before {
    transform: translate(50%, -50%) scale(0);
    right: 22%;
}

.testimonials__arrow:hover path {
    fill: #fff;
}

.testimonials__prev:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.testimonials__next:hover::before {
    transform: translate(50%, -50%) scale(1);
}

.testimonials__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__dots li {
    margin-right: 12px;
}

.testimonials__dots li:last-child {
    margin-right: 0;
}

.testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}

.testimonials__dots button::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #B3B7BC;
    border-radius: 3px;
}

.testimonials__dots .slick-active button::before {
    background-color: #424551;
    transition: all .3s;
}

/*---------------------------COMPANIES-------*/
/*--------------------------COMPANIES--------*/


.companies {
    background: #F4F5F7;
}

.companies__inner {
    position: relative;
    text-align: center;
}

.companies__inner::before {
    content: "";
    position: absolute;
    left: -230px;
    bottom: -120px;
    background: url("../images/decor/5.svg") 0 0 / 100% no-repeat;
    width: 90px;
    height: 90px;
}

.container {}

.companies__heading {
    margin-bottom: 60px;
}

.companies__grid {
    display: inline-grid;
    grid-template: repeat(2, auto) / repeat(6, 1fr);
    gap: 40px;
}

.companies__grid-item {}

.companies__grid-link {
    display: block;
}

.companies__grid-link img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: .4;
    transition: all 1.3s;
}

.companies__grid-link:hover img {
    filter: grayscale(0);
    opacity: 1;
    transition: all .3s;
}

/*---------------------------PROGRAM-------*/
/*--------------------------PROGRAM--------*/

.program {}

.program__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program__content {
    margin-right: 30px;
    max-width: 600px;
}

.program__heading {
    margin-bottom: 60px;
}

.program__acc {}

.program__acc-item {
    margin-bottom: 24px;
}

.program__acc-link {
    display: block;
    padding-left: 40px;
}

.program__acc-item:last-child {
    margin-bottom: 0px;
}

.program__acc-head {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    position: relative;
}

.program__acc-head span {
    font-weight: 400;
    color: #FF3F3A;
    margin-right: 8px;
}

.program__acc-head::before,
.program__acc-head::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    width: 18px;
    height: 2px;
    background-color: #FF3F3A;
    border-radius: 2px;
}

.program__acc-head::after {
    transform: rotate(90deg);
    transition: all .3s;
}

.program__acc-text {
    margin-top: 16px;
}

.program__acc-link--active .program__acc-head::after {
    transform: rotate(0deg);
}

.program__image {
    flex-shrink: 0;
}
.program__image img {
    width: 100%;
    height: 100%;
}

/*---------------------------BLOG-------*/
/*--------------------------BLOG--------*/

.blog {}

.blog__inner {}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.blog__heading {
    margin-right: 30px;
}

.heading {}

.heading__subtitle {}

.heading__title {}

.blog__btn {}

.button {}

.blog__row {
    display: flex;
    margin: 0 -15px;
}

.blog__item {
    padding: 0 15px;
    flex: 0 1 33.333%;
}

.blog__item-link {
    display: block;
    height: 100%;
    transition: all .3s;
}

.blog__item-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blog__image-box {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    max-height: 315px;
    margin-bottom: 16px;
}

.blog__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog__image-box span {
    display: flex;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 12px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 1px 8px;
    margin-right: 4px;
}

.blog__image-box span::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.blog__item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.blog__item-info {
    display: flex;
    margin: 0 -12px 8px;

}

.blog__info-el {
    padding: 0 12px;
    position: relative;
    color: #787A80;
}

.blog__info-el::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background-color: #787A80;
}

.blog__info-el:last-child::after {
    content: none;
}

.blog__info-date {
    display: flex;
    align-items: center;
}

.blog__info-date::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    background: url("../images/icons/calendar-icon.svg") 0 0 / 100% no-repeat;
    margin-right: 9px;
}

.blog__info-time {
    display: flex;
    align-items: center;
}

.blog__info-time::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    background: url("../images/icons/clock-icon.svg") 0 0 / 100% no-repeat;
    margin-right: 9px;
}

.blog__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 8px;
}

.blog__item-text {
    margin-bottom: 16px;
    flex-grow: 1;
}

.blog__item-btn {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #1E212C;
    transition: all .3s;
}

.blog__item-btn::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../images/icons/arrow-right.svg") 0 0 / 100% no-repeat;
    margin-left: 8px;
}


.blog__item-link:hover .blog__item-btn {
    color: #FF3F3A;
    transition: all .3s;
}

.blog__item--podcast .blog__image-box {
    background: #a2d0f7;
}

.blog__item--video .blog__image-box {
    background: #caf0e3;
}

.blog__item--article .blog__image-box {
    background: #fff8aa;
}
.blog__item--podcast .blog__image-box span::before {
    background: url("../images/icons/podcast-icon.svg") 0 0 / 100% no-repeat;
}

.blog__item--video .blog__image-box span::before {
    background: url("../images/icons/play-mini.svg") 0 0 / 100% no-repeat;
}

.blog__item--article .blog__image-box span::before {
    background: url("../images/icons/article-icon.svg") 0 0 / 100% no-repeat;
}

/*-----------INFO-------------------*/
/*-----------INFO-------------------*/

.info__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.info_content {
    margin-right: 30px;
}

.info__heading {
    margin-bottom: 40px;
}

.heading {}

.heading__subtitle {}

.heading__title {}

.info__contacts {
    margin-bottom: 50px;
}

.info__contacts-item {
    margin-bottom: 24px;
    padding-left: 34px;
}

.info__contacts-item:last-child {
    margin-bottom: 0px;
}

.info__item-top {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    position: relative;
}

.info__item-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: -36px;
    width: 24px;
    height: 24px;
}

.info__item-link {
    font-size: 18px;
    line-height: 150%;
    transition: all .3s;
}

.info__item-link:hover {
    color: #FF3F3A;
}

.info__mail .info__item-top::before {
    background: url("../images/icons/chat-icon.svg") 0 0 / 100% no-repeat;
}

.info__tel .info__item-top::before {
    background: url("../images/icons/phone-icon.svg") 0 0 / 100% no-repeat;
}

.info__address .info__item-top::before {
    background: url("../images/icons/mark-icon.svg") 0 0 / 100% no-repeat;
}

.info__item-address {
    font-size: 18px;
    line-height: 150%;
}

.info__follow {}

.info__follow-head {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.info__socials {
    display: flex;
}

.info__socials-item {
    margin-right: 32px;
}

.info__socials-item:last-child {
    margin-right: 0px;
}

.info__socials-link path {
    transition: all .3s;
}

.info__socials-link:hover path {
    fill: #000;
}

.info__map {
    height: 412px;
    width: 100%;
    max-width: 705px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    overflow: hidden;
}

/*---------QUESTIONS---------*/
/*---------QUESTIONS---------*/

.questions {}

.questions__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questions__img {
    min-width: 350px;
}
.questions__img img {
    height: 100%;
    width: 100%;
}

.questions__content {
    margin-left: 30px;
}

.questions__heading {
    margin-bottom: 40px;
}

.questions__form {}

.questions__form-row {
    display: flex;
    margin-bottom: 24px;
}

.questions__form-label {
    margin-right: 25px;
    flex: 1 1 auto;
}

.questions__form-label:last-child {
    margin-right: 0;
}

.questions__text-label {
    display: block;
    margin-bottom: 50px;
}

.questions__form-input,
.questions__form-text {
    display: block;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    padding: 13px 16px;
    width: 100%;
    margin-top: 8px;
}

.questions__form-input::placeholder,
.questions__form-text::placeholder {
    color: #9A9CA5;
}

.questions__checkbox-label {
    margin-right: 50px;
    display: flex;
    width: 100%;
}

.questions__form-text {
    resize: none;
    height: 128px;
}

.questions__form-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin: 5px 12px 0px 0px;
}

.questions__form-default {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.questions__form-default:checked+.questions__form-custom {
    background: url("../images/icons/check.svg") 50% 50% no-repeat, #FF3F3A;
    border: 1px solid #FF3F3A;
}

.questions__form-custom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #424551;
    border-radius: 3px;
    cursor: pointer;
}

.questions__form-btn {
    width: 100%;
    align-self: center;
    text-align: center;
    font-size: 16px;
}


/*---------------------FOOTER-------------*/
/*---------------------FOOTER-------------*/

.footer {
    color: #fff;
}

.footer__top {
    background-color: #1E212C;
    padding: 80px 0 60px;
}

.container {}

.footer__top-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.footer__top-col {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.footer__top-col:first-child {
    max-width: 310px;
}

.footer__top-col:last-child {
    max-width: 315px;
}

.footer__logo {
    display: block;
    margin-bottom: 25px;
}

.logo {}

.footer__top-text {
    font-size: 12px;
    line-height: 150%;
    opacity: 0.6;
    margin-bottom: 38px;
}

.footer__socials {
    display: flex;
}

.footer__socials-item {
    margin-right: 20px;
}

.footer__socials-item:last-child {
    margin-right: 0;
}

.footer__socials-link path {
    transition: all .3s;
}

.footer__socials-link:hover path {
    fill: #fff;
}

.footer__top-title {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
    white-space: nowrap;
    pointer-events: none;
}

.footer__top-col:last-child .footer__top-title {
    white-space: normal;
}

.footer__top-list {}

.footer__top-item {
    margin-bottom: 8px;
}

.footer__top-item:last-child {
    margin-bottom: 0;
}

.footer__item-link {
    opacity: .6;
    display: flex;
    align-items: center;
    transition: all .3s;
    white-space: nowrap;
}

.footer__item-link svg {
    margin-right: 8px;
}

.footer__item-link:hover {
    opacity: 1;
}

.footer__form {}

.footer__form-items {
    background: #ffffff1f;
    border: 1px solid #ffffff33;
    border-radius: 4px;
    margin-bottom: 12px;
    display: flex;
}

.footer__form-input {
    padding: 9px 0px 9px 12px;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
    width: 100%;
    position: relative;
    background: transparent;
}

.footer__form-input::placeholder {
    color: #fff;
    opacity: .6;
}

.footer__form-btn {
    background: transparent;
    padding: 10px 12px;
}

.footer__form-btn::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/icons/arrow-right-mini.svg");
    transition: all .3s;
}

.footer__form-btn:hover::before {
    transform: scale(1.2);
}

.footer__form-desc {
    font-size: 10px;
    line-height: 150%;
}

.footer__bottom {
    background-color: #292c37;
}

.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer__copy span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/icons/heart-icon.svg") 0 0 / 100% 100% no-repeat;
    vertical-align: sub;
}

.footer__go-top {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    opacity: 0.6;
    text-transform: uppercase;
    transition: all .3s;
}

.footer__go-top:hover {
    opacity: 1;
}

/*---------MEDIA---------*/
/*---------MEDIA---------*/

@media (max-width: 1200px) {
    .header__title {
        font-size: 52px;
        max-width: 376px;
    }
    .header__img {
        max-width: 450px;
    }
    .blog__item-info {
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 0 8px;
    }
    .blog__info-el {
        padding: 0;
    }
    .blog__info-el::after {
        content: none;
    }
    .blog__info-dir {
        order: 1;
    }
    .blog__info-date {
        order: 3;
        flex-basis: 100%;
    }
    .blog__info-time {
        order: 2;
    }
}

@media (max-width: 1100px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        background: rgba(0, 0, 0, 0.349);
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }
    .burger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s;
    }
    .burger--follow {
        top: 15px;
        right: 15px;
        box-shadow: 0 1px 8px #a1a1a1;
        background-color: #fff;
    }
    .burger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #424551;
        border-radius: 3px;
        margin: 4px 0;
    }

    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background-color: #424551;
        border-radius: 3px;
    }

    .header {
        padding-top: 92px;
    }

    .header__top {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 100;
        min-width: 320px;
        transform: translateX(100%);
        transition: all .3s
    }
    .header__top--open {
        transform: translateX(0%);
    }
    .header__top-inner {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 100px 0;
    }
    .header__logo {
        margin: 0 0 30px 0;
    }
    .header__nav {
        text-align: center;
        margin: 0 auto;
        flex-grow: 1;
    }
    .header__nav-list {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .header__nav-item {
        margin: 0;
    }
    .header__nav-link {
        display: block;
        padding: 10px;
    }
    .header__btn-box {
        flex-direction: column-reverse;
    }
    .header__top-btn {
        margin: 0;
    }
    .header__user-nav {
        margin-bottom: 30px;
    }
    .heading__title {
        font-size: 37px;
    }
    .about__img {
        max-width: 400px;
    }
    .cert__inner {
        flex-direction: column;
        align-items: center;
    }
    .cert__content {
        margin: 0px 0px 30px 0px;
    }
    .cert__heading {
        text-align: center;
    }
    .companies__grid {
        gap: 40px 5%;
    }
    .program__image {
        max-width: 400px;
    }
    .footer__top-inner {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer__top-col{
        margin-bottom: 30px;
    }
    .footer__top-col:first-child {
        flex-basis: 100%;
        max-width: none;
        margin-bottom: 30px;
    }
    .footer__top-col:last-child {
        flex-basis: 100%;
        max-width: none;
        margin-bottom: 0px;
    }
    .footer__form-items {
        max-width: 315px;
    }
}

@media (max-width: 1000px) {
    .program__content {
        margin-right: 0;
    }
    .program__image {
        display: none;
    }
}

@media (max-width: 900px) {
    .header__content {
        margin: 0;
    }
    .header__img {
        display: none;
    }
    .header__row {
        display: none;
    }
    .about__img {
        display: none;
    }
    .directions__filter-item {
        margin-right: 10px;
    }
    .directions__list {
        gap: 30px 10px;
    }
    .directions__link-content {
        padding: 24px 5px 5px;
    }
    .companies__grid {
        grid-template: repeat(3, auto) / repeat(4, 1fr);
    }
    .blog__row {
        flex-direction: column;
        margin: 0;
    }
    .blog__item {
        padding: 0px 0px 30px 0px;
    }
    .blog__image-box {
        display: flex;
        justify-content: center;
    }
    .blog__image-box img {
        width: auto;
    }
    .info__inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .info__content {
        margin: 0px 0px 30px 0px;
    }
    .info__map {
        height: 200px;
        width: 100%;
        max-width: none;
    }
    .questions__img {
        display: none;
    }
    .questions__content {
        margin: 0;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .about__createx {
        margin-bottom: 60px;
    }
    .about__values {
        flex-direction: column;
    }
    .about__image-box {
        display: none;
    }
    .about__numbers {
        margin: 0;
        align-self: flex-start;
    }
    .directions__list {
        grid-template: repeat(3, auto) / repeat(4, minmax(auto, 130px));
    }
    .testimonials__slider-wrapper {
        padding: 0;
    }
    .testimonials__slide {
        padding: 30px 15px;
    }
    .testimonials__arrow {
        display: none;
    }
}

@media (max-width: 550px) {
    .heading {
        margin-bottom: 30px;
    }
    .heading__subtitle {
        font-size: 14px;
        margin: 0;
    }
    .heading__title {
        font-size: 25px;
    }
    .main__about,
    .main__program {
        padding: 60px 0 100px;
    }
    .main__directions,
    .main_testimonials,
    .main__blog,
    .main__info {
        padding-bottom: 100px;
    }
    .main__team {
        padding: 120px 0 100px;
    }
    .main__companies {
        padding-bottom: 40px;
    }
    .main__questions {
        padding-bottom: 40px;
    }
    .about__text {
        margin-bottom: 30px;
    }
    .about__paragraph {
        font-size: inherit;
        margin-bottom: 10px;
    }
    .about__btn-box {
        flex-direction: column;
        align-items: flex-start;
    }
    .about__btn {
        margin: 0px 0px 30px 0px;
    }
    .about__btn:last-child {
        margin: 0px;
    }
    .directions__list {
        grid-template: none;
    }
    .directions__list-item--empty {
        display: none;
    }
    .team__slider-arrows {
        display: none;
    }
    .team__image-box {
        max-width: 300px;
        margin: 0 auto 16px;
    }
    .testimonials__slider-wrapper {
        margin-bottom: 15px;
    }
    .testimonials__slide-inner {
        padding-left: 30px;
    }
    .testimonials__quote {
        font-size: inherit;
        line-height: inherit;
    }
    .testimonials__quote::before {
        left: -30px;
        width: 20px;
    }
    .testimonials__dots button {
        width: 20px;
    }
    .companies__grid {
        grid-template: repeat(4, auto) / repeat(3, 1fr);
    }
    .program__acc-head {
        font-size: inherit;
        line-height: inherit;
    }
    .blog__top {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .questions__form-row {
        flex-direction: column;
    }
    .questions__form-label {
        font-size: 14px;
        margin: 0px 0px 24px 0px;
    }
    .questions__form-label:last-child {
        margin: 0px;
    }
    .questions__form-input,
    .questions__form-text {
        margin-top: 0;
    }
    .questions__text-label {
        font-size: 14px;
    }
    .questions__checkbox-label {
        font-size: 14px;
        margin: 0px 0px 24px 0px;
    }
    .footer__top-inner {
        flex-direction: column;
    }
    .footer__top-title--slide {
        pointer-events: auto;
        margin: 0;
    }
    .footer__top-list {
        margin-top: 12px;
        display: none;
    }
    .footer__bottom-inner {
        flex-direction: column-reverse;
    }
    .footer__copy {
        text-align: center;
    }
    .footer__go-top {
        margin-bottom: 15px;
    }
}

@media (max-width: 450px) {
    .header__top {
        min-width: none;
        left: 0;
    }
    .header__title {
        max-width: none;
        font-size: 40px;
    }
    .header__content-buttons {
        flex-direction: column;
        align-items: flex-start;
    }
    .header__content-btn {
        margin: 0px 0px 30px 0px;
        text-align: center;
    }
    .directions__filter-box {
        margin-bottom: 15px;
    }
    .cert__text {
        margin-left: 10px;
    }
    .cert__logos {
        flex-direction: column;
        align-items: center;
    }
    .cert__logos-item {
        margin: 0px 0px 30px 0px;
    }
    .cert__logos-item:last-child {
        margin: 0px;
    }
    .companies__grid {
        grid-template: repeat(6, auto) / repeat(2, 1fr);
    }
    .info__socials-item {
        margin-right: 15px;
    }
}
